body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    line-height: 1.2;
    padding: 8px;
}

#console {
    background-color: #ded;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 11px;
    height: 180px;
    overflow: scroll;
    padding: 4px;
    width: 400px;
}

.keys {
    border-spacing: 8px;
}

.key {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 4px;
    display: table-cell;  /* This makes vertical-align work. */
    height: 50px;
    padding: 8px;
    text-align: center;
    width: 50px;
    vertical-align: middle;
}

#engine {
    visibility: collapse;
}
