body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    line-height: 1.2;
    padding: 8px;
}

#console {
    background-color: #ded;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 11px;
    height: 180px;
    overflow: scroll;
    padding: 4px;
    width: 400px;
}

#engine {
    visibility: collapse;
}
